name: Build and Sign Release APK

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Decode keystore
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_FILE }}
        run: |
          echo $KEYSTORE_BASE64 | base64 -d > $GITHUB_WORKSPACE/release.keystore

      - name: Build Release APK
        run: ./gradlew assembleRelease -PkeystoreFile=${{ github.workspace }}/release.keystore -PkeystorePassword=${{ secrets.KEYSTORE_PASSWORD }} -PkeyAlias=${{ secrets.KEY_ALIAS }} -PkeyPassword=${{ secrets.KEY_PASSWORD }}

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: dropto-release
          path: app/build/outputs/apk/release/*.apk

      - name: Check Pre-Release
        id: prerelease_check
        run: |
          if [[ "${GITHUB_REF_NAME}" == v0.* || "${GITHUB_REF_NAME}" =~ ^v[0-9]+\.[0-9]+\..* ]]; then
            echo "is_prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "is_prerelease=false" >> $GITHUB_OUTPUT
          fi

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/outputs/apk/release/*.apk
          generate_release_notes: true
          prerelease: ${{ steps.prerelease_check.outputs.is_prerelease }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}